header {
    background-color: #262626;
    color: antiquewhite;
}

header h1 {
    margin: 0;
    display: inline;
}

body {
    margin: 0;
    color: antiquewhite;
    background-color:#363636;
}

nav ul {
    display: inline;
    margin: 0;
}

nav ul li {
    border-radius: 5px;
    display: inline-block;
    background-color: #363636;
    list-style-type: none;
    padding: 5px;

}
/*SECAO HOVER*/
nav ul li a {
    color: antiquewhite;
    text-decoration: none;
}

nav ul li:hover {
    color: #161616;
    background-color: azure;
}

nav ul li a:hover {
    color: #161616;
}
footer {
    background-color: #262626;
    text-align: center;
    margin: 0%;
    padding: 2%;
}

.semicon {
    padding: 2%;
}

span.open-slide {
    padding:0 0 0 50%;

}

.semicon a {
    border-radius: 5px;
    display: inline-block;
    align-content: center;
    background-color: #262626;
    list-style-type: none;
    padding:2%;
    margin: auto;
    color: antiquewhite;
    text-decoration: none;
    border-style: solid;
    border-color: #464646;
    
}



#slogan {
    display: inline-block;
    margin: 0;
}

.main-p {
    font-size: large;
    background-color: #262626;
    display: inline-block;
    border-radius: 10px;
    margin-right: 30%;
    padding: 10px;

}
#aga {
    background-color: #262626;
    margin: 0 0 0 10;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
}
/*barrinha*/
.side-nav{
    height:100%;
    width:0;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background-color:#161616;
    opacity:0.9;
    overflow-x:hidden;
    padding-top:60px;
    transition:0.3s;
  }
.side-nav a{
    padding:10px 10px 10px 30px;
    text-decoration: none;
    font-size:22px;
    color:#ccc;
    display:block;
    transition:0.3s;
  }
  
  .side-nav a:hover{
    color:#fff;
    background-color: #262626;
  }
  
  .side-nav .btn-close{
    position:absolute;
    top:0;
    right:22px;
    font-size:48px;
    margin-left:50px;
  }
  
  
  #main{
    transition:margin-left 0.5s;
    padding:20px;
    overflow:hidden;
    width:100%;
  }

@media(max-width:568px){
    .navbar-nav{display:none;}
  }
  
  @media(min-width:568px){
    .open-slide{display:none}
  }